
/** AJUSTES GENERALES **/


/*Definimos la fuente del nav*/
@font-face{
	font-family: fontNav;
	src: url(../fonts/Kalam-Regular.ttf);
}

/*Ajustes Generales*/
html{
	width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

/*Ajustes Generales*/
body{
	background-image: url("../images/Intro/HomeBG.jpg");
	background-color: black;		
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
}


/** BARRA DE NAVEGACION **/


/*CSS seccion del navegador*/
nav{
	width: 100%;
  height: 8%;
  margin: 0%;
  color: white;
  display: flex;
  justify-content: center;

/*Fondo con degradado*/
  font-family: fontNav;
}

/*Ajustes links*/
#Menu a{
	text-decoration: none;
	color: white;
	opacity: .6;
  font-size: 25px;
}

	/*links on hover*/
#Menu a:hover{
	text-decoration: none;
	color: white;
	opacity: 1;
	font-size: 30px;
	}

/*CSS del ul dentro de la barra de navegacion*/
#Menu{
	display:  flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  width: 40%;

	/*Quitamos los puntitos*/
	list-style-type: none;
	font-size: 30px;
	color: white;
	font-family: fontNav;
}

/*************************/
/** CSS IMAGEN CON ANIMACION **/
/*************************/

/*Sección general*/
#contenedorImagen{
	z-index:0;
	position:relative;
	overflow: hidden;
	
	width: 100%;
	height: 900px;

	display: block;


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*Imagen de fondo*/
#imagenFondo{
    width: 100%;
    height: 100%;
	position:absolute;
    left:0;
    top:0;
    z-index: 0;
	overflow: hidden; 
	-webkit-filter: blur(4px);
	transition: all .5s ease-in-out;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation-name: example;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
    0%   {background-image: url("../images/Projectos/Modelado_Avro.jpg");}
    25%  {background-image: url("../images/Projectos/Modelado_Casa.jpg");}
    50%  {background-image: url("../images/Projectos/Render_Casco.jpg");}
    75%  {background-image: url("../images/Projectos/Render_Material.jpg");}
    100% {background-image: url("../images/Projectos/Titulo_Sci-Fi.jpg");}
}

/*Imagen de letras*/
#Letras{
   width: 100%;
   height: 100%;
	 position:relative;
   left:0;
   top:25%;
   z-index: 1;
	 overflow: hidden; 
	-webkit-filter: blur(0px);
  text-align: center;
  font-size: 150px;
  opacity: 6;
  color:white;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: fontNav;
}



/** FOOTER **/

footer{
    width: 100%;
    height: 10%;
    margin: 0%;
    display: flex;

    /*Background con degradado*/
   
    background-image: url("../images/Intro/HomeBG3.jpg");

}

footer a{
    text-decoration: none;
    color: white;
    opacity: .6;
}

footer a:hover{
        text-decoration: none;
        color: white;
        opacity: 1;
        font-size: 60px;
}
#navlist {
    position: relative;
}

#navlist li {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    background-repeat:no-repeat;
}

#navlist li, #navlist a {
    height: 25%;
    width:800%;
    display:inline;
    margin-top: 30%;
}

#name{
   
   font-family: fontNav;
   left: 250%;
   right:0%;
   font-size: 25px;
   top:5%;
   display: flex;
}

#qualities{
   
   font-family: fontNav;
   left: 1150%;
   right:0%;
   font-size: 25px;
   top:5%;
   display: flex;
}
#home {
    right: 0%;
    left: 2225%;
    font-size: 50px;
    margin-top:0%;
    color:white;
}

#prev {
    right: 0%;
    left: 2500%;
    font-size: 50px;
    margin-top:0%;
    color:white;
}

#next {
    left: 2750%;
    right:0%;
    font-size: 50px;
    margin-top:0%;
    color:white;
}

 

#copyright{
   font-family: fontNav;
   color:white;
   left: 3800%;
   right:0%;
   font-size: 25px;
   top:-30%;
   display:flex;
   
}



